Body {
	font-family: Calibri, Helvetica, sans-serif;
	background: url("../creative/residential_property.jpeg") rgba(0, 31, 91, 0.75);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}  


/* LOGO */
.logo {
	height:  60px;
    width: 140px;
}


/* BUTTON GROUP TO CHOOSE BUYER/AGENT*/
.btn-group button {
    background-color: white; /* Green background */
    
    color: black; /* White text */
    padding: 8px 12px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 2px;
    margin-right: 10px;
    border: 2px solid lightgray; /* Green border */
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:hover {
    background-color: #011743;
    color: whitesmoke;
    border: 2px solid #011743; /* Green border */
}
.btn-group button:focus {
    background-color: #001F5B;
    color: whitesmoke;
}


/* SUBMIT BUTTON */
.submit button{
    background-color: #001F5B;   
    color: whitesmoke;   
    padding: 12px 16px;   
    border: none;   
    cursor: pointer;
    display: flex;
    margin-left: auto;
}
.submit button:hover {
    background-color: #011743;   
} 


/* FORM AND INPUT CONTAINERS*/
.formContainer {
	width: 100%;
}
.container {   
    padding: 40px;   
    width:  35%;
    background-color: white; 
    box-shadow: 0 0 30px 2px #011743;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    margin-bottom: 50px;
}   


/* LABEL PROMPTING CHOICE BETWEEN BUYER / AGENT */
.userDesignationLabel{
    display: block;
    padding-bottom: 10px;
}

 
/* INPUT FOR ALL FIELDS */
.doubleInputFieldLabel{
    display: flex;
    font-size: 15px;
}
select {
    height: 30% !important;
    margin-left: 20px !important;
    margin-top: 8px;
    background-color: whitesmoke;
    border-width: 0 0 2px;
    border-color: lightgray;
    width: 50%; 
    padding: 11px 10px;
    box-sizing: border-box;
}

input[type=zipCode] {   
    margin-left: 20px !important;
} 
input[type=city], input[type=county], input[type=zipCode] {   
	width: 50%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    box-sizing: border-box;   
    background-color: whitesmoke;
    border-width: 0 0 2px;
    border-color: lightgray;
}  
input[type=address] {   
	width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    box-sizing: border-box;   
    background-color: whitesmoke;
    border-width: 0 0 2px;
    border-color: lightgray;
}  
input:hover{
    border-width: 0 0 2px;
    border-color: #001F5B;
}
input:focus {
    border-width: 0 0 2px;
    border-color: #001F5B;
}


/* GENERAL INPUT LABEL STYLING */
.header {
	font-size: 25px;
}
.singleInputFieldLabel {
	font-size: 15px;
}

   
      




